@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 500;
	src:
		local(''),
		url('/fonts/untitled-sans-web-regular-subset.woff2') format('woff2'),
		url('/fonts/untitled-sans-web-regular-subset.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local(''),
		url('/fonts/untitled-sans-web-medium-subset.woff2') format('woff2'),
		url('/fonts/untitled-sans-web-medium-subset.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local(''),
		url('/fonts/untitled-sans-web-bold-subset.woff2') format('woff2'),
		url('/fonts/untitled-sans-web-bold-subset.woff') format('woff');
}

@font-face {
	font-family: 'Charter';
	font-style: italic;
	font-weight: normal;
	src:
		local(''),
		url('/fonts/charter_italic.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p a {
	@apply underline decoration-accent hover:text-accent transition-colors;
}

p + p {
	@apply mt-2;
}

.link {
	@apply underline decoration-mute hover:text-accent hover:decoration-accent transition-colors;
}
